body {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.underbar {
    width: 100%;
    height: 8vh;
    background-color: rgb(3, 62, 255);
    display: flex;
    justify-content: center;
    align-items: center;

}

.filler-button {
    width: 20%;
    height: 55%;
    margin-right: 3%;
    margin-left: 3%;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    border: 3px solid white;
    background: rgb(3, 62, 255);
    border-radius: 50px;
    font-family: "Arial";
    font-size: 125%;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.filler-button:hover {
    background: snow;
    letter-spacing: 1px;
    transition: all 0.4s ease 0s;
    color: rgb(22, 21, 21);
    border: none;
}